<!DOCTYPE html>
<html lang="es">

<body>
    <header>
        <%- include('../views/partials/header'); %>
    </header>
   
     <main>
        <div class="container-">
            <div class="row mt-3 ml-5 mr-5 ">
                <div class="col-md-12 text-center">
                    <h2>CURSOS EXISTENTES</h2> 
                    <table class="table table-bordered table-hover table-responsive">
                        <thead>
                            <tr>
                                <th class="border-primary">Nº</th>
                                <th class="border-primary">CURSO</th>
                                <th class="border-primary">NIVEL</th>
                                <th class="border-primary">ACCIONES</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (cursos) { %>
                                <% for (var i=0; i < cursos.length; i++) { %>
                                    <tr>
                                        <td class="border-primary">
                                            <%= (i + 1) %>
                                        </td>
                                        <td class="border-primary">
                                            <%= cursos[i].nombre %>
                                        </td>
                                      
                                        <td class="border-primary">
                                            <%= cursos[i].nivel %>
                                        </td>
                                
                                         <td class="border-primary">
                                            <a href="/editCursos/<%= cursos[i].id_curso %>" class="btn btn-warning btn-sm">Editar</a>
                                            <a href="/elimCurso/<%= cursos[i].id_curso %>" class="btn btn-danger btn-sm">ELIMINAR</a>
                                        </td>
                                    </tr>
                                <% } %>
                            <% } %>
                            
                        </tbody>
                    </table>
                  <a href="index" class="btn btn-info btn-sm rounded-pill">Volver al inicio</a>
                  </div>
             </div>
         </div>
      </main>  
     