<!DOCTYPE html>
<html lang="es">

<body>
    <header>
        <%- include('../views/partials/header'); %>
    </header>
    <div class="container d-flex justify-content-end">
        <a href="index" class="btn btn-info rounded-pill  mt-2  ml-5 width:30%">Volver al inicio</a> 
    </div>
    
    <div class="container d-flex justify-content-center  min-vh-100 mt-2">
      <div class="card shadow p-4" style="max-width: 600px; width: 100%;">
        <h1 class="h4 mb-4 text-center">ALTAS DE NUEVAS ASIGNACIONES</h1>
        <form action="/nuevaAsignacion" method="POST">
          
            <!-- Profesor -->
            <div class="mb-3">
              <label class="form-label">PROFESOR</label>
              <select name="id_profesor" class="form-select" required>
                <option value="">Seleccione un profesor</option>
                  <% profesores.forEach(prof => { %>
                    <option value="<%= prof.id_profesor %>"><%= prof.nombre %></option>
                  <% }) %>
              </select>
              <br>
            </div>
            
            <!-- Materia -->
            <div class="mb-3">
              <label class="form-label">MATERIA</label>
              <select name="id_materia" class="form-select" required>
                  <option value="">Seleccione una materia</option>
                    <% materias.forEach(mat => { %>
                      <option value="<%= mat.id_materia %>"><%= mat.nombre %></option>
                    <% }) %>
                  </select>
                  <br>
              </div>
              
              <!-- Curso -->
              <div class="mb-3">
                <label class="form-label">CURSO</label>
                <select name="id_curso" class="form-select" required>
                    <option value="">Seleccione un curso</option>
                    <% cursos.forEach(cur => { %>
                      <option value="<%= cur.id_curso %>"><%= cur.nombre %></option>
                    <% }) %>
                  </select>
                  <br>
              </div>
          
              <!-- Horarios -->
              <div class="mb-3">
                <label class="form-label">DÍAS Y HORARIOS</label>
                <select name="id_horario" class="form-select" required>
                    <option value="">Seleccione un horario</option>
                    <% horarios.forEach(hor => { %>
                      <option value="<%= hor.id_horario %>"><%= hor.dia_semana %> - <%= hor.hora_inicio %> a <%= hor.hora_fin %></option>
                    <% }) %>
                  </select>
                  <br>
              </div>
          

                <!-- Profesor suplente -->
              <div class="mb-3">
                <label for="suplente" class="form-label">Suplente</label>
                  <input type="text" id="suplente" name="suplente" class="form-control fs-5" placeholder="Ingrese el nombre del suplente">
                <br>
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-primary fs-5" >Guardar Asignación</button>
              </div>
          </form>  
    </div>
    
  </div>
 



