<!DOCTYPE html>
<html lang="es">

<body>
    <header>
        <%- include('../views/partials/header'); %>
    </header>

    <h1>Nueva Asignación</h1>
    <form action="/nuevaAsignacion" method="POST">

      <label>Profesor:</label>
      <select name="id_profesor" required>
        <option value="">Seleccione un profesor</option>
        <% profesores.forEach(prof => { %>
          <option value="<%= prof.id_profesor %>"><%= prof.nombre %></option>
        <% }) %>
      </select>
      <br><br>

      <label>Materia:</label>
      <select name="id_materia" required>
        <option value="">Seleccione una materia</option>
        <% materias.forEach(mat => { %>
          <option value="<%= mat.id_materia %>"><%= mat.nombre %></option>
        <% }) %>
      </select>
      <br><br>

      <label>Curso:</label>
      <select name="id_curso" required>
        <option value="">Seleccione un curso</option>
        <% cursos.forEach(cur => { %>
          <option value="<%= cur.id_curso %>"><%= cur.nombre %></option>
        <% }) %>
      </select>
      <br><br>

      <label>Horario:</label>
      <select name="id_horario" required>
        <option value="">Seleccione un horario</option>
        <% horarios.forEach(hor => { %>
          <option value="<%= hor.id_horario %>"><%= hor.dia %> - <%= hor.hora_inicio %> a <%= hor.hora_fin %></option>
        <% }) %>
      </select>
      <br><br>

      <button type="submit">Guardar Asignación</button>
    </form>
</body> 
</html> 

